/* .unread {
    position: relative;
    transition: opacity 0.5s;
    opacity: 1;
} */
/* .unread.hide {
    position: absolute;
    top: 0;
    opacity: 0;
    pointer-events: none;
} */

.inbox {
    position: absolute;
    top: 34px;
    transform: translateX(-45%);
    width: 500px;

    padding: 1rem;
    overflow: hidden;

    z-index: 1000;
    font-size: 12px;
}

.inbox-main {
    height: 400px;
}

.inbox-button {
    border-color: #ffffff;
}
.inbox-button.is-active {
    background-color: rgba(215, 215, 215, 0.667);
    font-weight: bold;
    border-color: #ffffff;
}

.inbox-header {
    height: 60px;
}
