  
name: Deploy Script

on:
  push:
    branches: [ deploy ]
  pull_request:
    branches: [ deploy ]

jobs:
  BuildFrontend:

    runs-on: ubuntu-latest
 

    steps:
    - uses: actions/checkout@v2
      with:
        ref: deploy
    - uses: actions/setup-node@v2
      with: 
        node-version: "12"
        check-latest: true

    - name: Install Dependencies
      run: |
        yarn install
      working-directory: ./frontend
    - name: Install Dependencies
      run: |
        yarn build
      working-directory: ./frontend
    - name: Upload Build
      uses: actions/upload-artifact@v2
      with:
        name: frontend-build
        path: ./frontend/build
    
  BuildTemplate:

    runs-on: ubuntu-latest
 

    steps:
    - uses: actions/checkout@v2
      with:
        ref: deploy
    - uses: actions/setup-node@v2
      with: 
        node-version: "12"
        check-latest: true
    - name: List Directories
      run: |
        ls
    - name: Install Dependencies
      run: |
        yarn install
      working-directory: ./Template
    - name: Install Dependencies
      run: |
        yarn build
      working-directory: ./Template
    - name: Upload Build
      uses: actions/upload-artifact@v2
      with:
        name: template-build
        path: ./Template/build