  
name: Deploy Script

on:
  push:
    branches: [ deploy ]
  pull_request:
    branches: [ deploy ]

jobs:
  BuildFrontend:

    runs-on: ubuntu-latest
 

    steps:
    - uses: actions/checkout@v2
      with:
        ref: deploy
    - uses: actions/setup-node@v2
      with: 
        node-version: "12"
        check-latest: true

    - name: Install Dependencies
      run: |
        yarn install
      working-directory: ./frontend
    - name: Build
      run: |
        yarn build
      env:
          PUBLIC_URL: ${{ secrets.PUBLIC_URL }}/app
      working-directory: ./frontend
    - name: Upload Build
      uses: actions/upload-artifact@v2
      with:
        name: frontend-build
        path: ./frontend/build
    
  BuildTemplate:

    runs-on: ubuntu-latest
 

    steps:
    - uses: actions/checkout@v2
      with:
        ref: deploy
    - uses: actions/setup-node@v2
      with: 
        node-version: "12"
        check-latest: true
    - name: List Directories
      run: |
        ls
    - name: Install Dependencies
      run: |
        yarn install
      working-directory: ./Template
    - name: Build
      run: |
        yarn build
      env:
          PUBLIC_URL: ${{ secrets.PUBLIC_URL }}/home
          
      working-directory: ./Template
    - name: Upload Build
      uses: actions/upload-artifact@v2
      with:
        name: template-build
        path: ./Template/build

  DeployToNetlify:
    runs-on: ubuntu-latest
    needs: [BuildFrontend, BuildTemplate]
    steps:
    
    - uses: actions/checkout@v2
      with:
        ref: deploy
    - uses: actions/setup-node@v2
      with: 
        node-version: "12"
        check-latest: true
    - name: Make Directory for deploy
      run: |
        mkdir deploy
    - name: Move Redirects file
      run: |
        mv ./_redirects ./deploy/_redirects
    - name: Setup Netlify CLI
      run: |
        yarn add netlify-cli
    #   working-directory: ./deploy
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v2
    - name: Move artifacts to deploy directory
      run: |
        mv ./frontend-build ./deploy/app
        mv ./template-build ./deploy/home

    - name: Deploy to Netlify
      env:
        NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
      run: netlify deploy --dir=deploy --prod
      
    
    