  
name: Deploy Script

on:
  push:
    branches: [ deploy ]
  pull_request:
    branches: [ deploy ]

jobs:
  BuildFrontend:

    runs-on: ubuntu-latest
 

    steps:
    - uses: actions/checkout@v2
      with:
        ref: deploy
    - uses: actions/setup-node@v2
      with: 
        node-version: "12"
        check-latest: true

    - name: Install Dependencies
      run: |
        yarn install
      working-directory: ./frontend
    - name: Build
      run: |
        yarn build
      working-directory: ./frontend
    - name: Upload Build
      uses: actions/upload-artifact@v2
      with:
        name: frontend-build
        path: ./frontend/build
    
  BuildTemplate:

    runs-on: ubuntu-latest
 

    steps:
    - uses: actions/checkout@v2
      with:
        ref: deploy
    - uses: actions/setup-node@v2
      with: 
        node-version: "12"
        check-latest: true
    - name: List Directories
      run: |
        ls
    - name: Install Dependencies
      run: |
        yarn install
      working-directory: ./Template
    - name: Build
      run: |
        yarn build
      working-directory: ./Template
    - name: Upload Build
      uses: actions/upload-artifact@v2
      with:
        name: template-build
        path: ./Template/build

  DeployToNetlify:
    runs-on: ubuntu-latest
    needs: [BuildFrontend, BuildTemplate]
    steps:
    - uses: actions/checkout@v2
      with:
        ref: deploy
    - uses: actions/setup-node@v2
      with: 
        node-version: "12"
        check-latest: true
    
    - name: Move Redirects file
      run: |
        mv ./_redirects ./deploy/_redirects
    - name: Setup Netlify CLI
      run: |
        yarn add netlify-cli
      working-directory: ./deploy
    - name: Download all workflow run artifacts
      uses: actions/download-artifact@v2
    - name: Move artifacts to deploy directory
      run: |
        mv ./frontend-build ./deploy/app
        mv ./template-build ./deploy/home

    - name: List Directories
      run: |
        ls
      working-directory: ./deploy
    - name: Deploy to Netlify
      run: netlify deploy --dir=deploy --prod
    
    