  
name: Django CI

on:
  push:
    branches: [ deploy ]
  pull_request:
    branches: [ deploy ]

jobs:
  build:

    runs-on: ubuntu-latest
 

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with: 
        node-version: "12"
    - name: Change Directory
      run: |
        cd ./frontend
        pwd
    - name: Install Dependencies
      run: |
        yarn install
    - name: Install Dependencies
      run: |
        yarn build
    